body{
    margin:0;
}
h1{
    margin:0;
    font-weight:lighter;
}
.bigheading{
    font-size:80px;
}
.navbar{
    color:white;
    background-color:black;
    display:flex;
    justify-content: space-between;
    padding: 12px 40px 0 20px;
    height:50px;
}
.navbar ul{
    display:flex;
}
.navbar ul li{
    display:block;
    margin:0 15px 0 15px;
    justify-content:space-around;
}
.footer{
    padding:50px;
    color:white;
    background-color: black;
}
.footerbox{
    margin:10px;
    padding:10px;
}
.footer-top{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.footer-bottom{
    text-align:center;
    margin:20px 0 0 0;
    padding:20px 0 0 0;
    border-top:1px solid white;
    max-width:55%;
    margin:auto;
}
.boxone{
    flex-basis:600px;
}
.parallax{
    background-color:skyblue;
    height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    text-align:center;
}
.statement{
    padding:20px;
    max-width:1000px;
    margin:auto;
}
.box-container{
    max-width:1500px;
    margin:auto;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.box{
    margin:40px;
    max-width:400px;
    height:400px;
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 3px 1px grey;
}
.home{
    background-image: url("cover.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align:center;
    height: 550px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}
@media only screen and (max-width: 850px) {
    .box-container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .footer-top{
        flex-direction: column;
    }
    .boxone{
        flex-basis:300px;
    }
  }