html body{
    margin:0;
    text-align:center;
}
h1, p, h3{
    margin:0;
}
.navbar{
    background-color:black;
    min-height:35px;
    padding: 15px 0 0 20px
}
.navbar p{
    color:white;
    float:left;
}
.navbar ul{
    float:right;
    margin:0 60px 0 0;
}
.navbar li{
    color:white;
    float:left;
    display:block;
    margin:0 20px 0 0;
}
.footer-top{
    display:flex;
    width:75%;
    margin:auto;
    text-align:left;
}
.footer-bottom{
    border-top:1px solid grey;
    width:75%;
    justify-content: center;
    margin:20px auto 0 auto;
    padding:40px 0 0 0;
}
.footer{
    background-color: black;
    min-height:400px;
    padding: 100px;
}
.footer h3{
    color:white;
}
.footer p{
    color:white;
}
#footer-box-one{
    max-width:600px;
}
#footer-box-three p{
    padding:10px;
}
.footerbox{
    margin-right:20px;
    padding:20px 40px 0 0;
}
.footerbox p{
    font-size:20px;
}
.line{
    border-bottom:1px solid grey;
    padding:10px;
}
#last{
    padding:10px;
}

.main{
    min-height:800px;
    background-color:skyblue;
}
.parallax{
    min-height:250px;
    background-color:wheat;
}
.statement{
    max-width:1000px;
    margin:auto;
    border:1px solid black;
    padding:40px;
}
.home{
    height:300px;
    background-color:lightgreen;
    padding: 140px 0 0 0
}
.box{
    height:400px;
    width:400px;
    background-color:lightcoral;
    margin:30px;
}
.box h3{
    margin-top:170px;
}
.box-container{
    display:flex;
    justify-content: center;
}
.box2{
    width:250px;
    margin:auto;
}
@media only screen and (max-width: 600px) {
    .navbar{
        padding: 15px 0 0 20px;
        background-color:wheat;
    }
    .navbar ul{
        margin:0;
    }
    .navbar li{
        margin:0;
    }
    .footer-top{
        width:100%;
        margin:auto;
        text-align:left;
        display:block;
    }
    .footer-bottom{
        border-top:1px solid grey;
        width:100%;
        justify-content: center;
    }
    .footer{
        background-color: black;
        min-height:400px;
        padding: 0;
        display:block;
    }
    #footer-box-one{
        max-width:600px;
    }
    #footer-box-three p{
        padding:10px;
    }
    .footerbox{
        margin-right:0;
        padding:0;
    }
    .footerbox p{
        font-size:20px;
    }
    .box{
        height:400px;
        width:300px;
        margin:0 auto 0 auto;
    }
    .box h3{
        margin-top:20px;
    }
    .box-container{
        display:block;
        justify-content: center;
    }
    .statement{
        max-width:1000px;
        margin:auto;
        border:1px solid black;
        padding:40px;
    }
}